name: Test Pull Request

on:
  pull_request:
    branches:
    - main
    - v*

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.x

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Docker Multi-Platform Builds
      run: |
        docker run --privileged --rm docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64

    - name: Run Unit Tests
      run: ./scripts/unit.sh

  upload:
    name: Upload Workflow Event Payload
    runs-on: ubuntu-22.04
    steps:
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: event-payload
        path: ${{ github.event_path }}
